* {
    margin: 0;
    padding: 0;
    color: white;
}

body{
    display: flex;
    flex-direction: column;

    /* 削除するよ！！ */
    /* min-height: 100vh; */
}

header{
    background-color: gray;
    height: 60px;
}

.content{
    position: relative;
    background-color: darkred;
    flex: 1;
}

p{
    position: absolute;
    bottom: 0;
    color: red;
}

footer{
    background-color: black;
    height: 60px;
}